
## <summary>policy for billetcoin</summary>


########################################
## <summary>
##	Transition to billetcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`billetcoin_domtrans',`
	gen_require(`
		type billetcoin_t, billetcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, billetcoin_exec_t, billetcoin_t)
')


########################################
## <summary>
##	Execute billetcoin server in the billetcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`billetcoin_initrc_domtrans',`
	gen_require(`
		type billetcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, billetcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search billetcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`billetcoin_search_lib',`
	gen_require(`
		type billetcoin_var_lib_t;
	')

	allow $1 billetcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read billetcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`billetcoin_read_lib_files',`
	gen_require(`
		type billetcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, billetcoin_var_lib_t, billetcoin_var_lib_t)
')

########################################
## <summary>
##	Manage billetcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`billetcoin_manage_lib_files',`
	gen_require(`
		type billetcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, billetcoin_var_lib_t, billetcoin_var_lib_t)
')

########################################
## <summary>
##	Manage billetcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`billetcoin_manage_lib_dirs',`
	gen_require(`
		type billetcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, billetcoin_var_lib_t, billetcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a billetcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`billetcoin_admin',`
	gen_require(`
		type billetcoin_t;
		type billetcoin_initrc_exec_t;
		type billetcoin_var_lib_t;
	')

	allow $1 billetcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, billetcoin_t)

	billetcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 billetcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, billetcoin_var_lib_t)

')

