# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Billetcoin Core
Comment=Billetcoin Core QT main network
GenericName=Billetcoin Digital Currency QT client main network
Exec=billetcoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/billetcoin.png
MimeType=x-scheme-handler/billetcoin;
Categories=X-Office;X-Finance;
Keywords=internet;billetcoin;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=billetcoin-qt.desktop
